{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project/css/Stylesheet.css' %}">
{% endblock %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'project:index' %}">Teams</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'project:team_details' team.name %}">(team) {{ team.name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">(board) {{ board.name }}</li>
        </ol>
    </nav>

    <!-- Intestazione board -->
    <div class="board_desc">

        <h1>{{ board.name }}</h1>

        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="{% url 'project:view_board_archive' team.name board.name %}">Vai
                all'archivio</a>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#modifica-nome-modal">
                Modifica Board
            </button>

            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#Aggiungi-colonna-modal">
                <em class="fas fa-plus" id="btn-add"></em> Aggiungi Colonna
            </button>
        </div>


        <hr class="solid">

        <a id="board-description">{{ board.description }}</a><br>
    </div>

    <!-- form modifica nome board MODAL-->
    <div class="modal" tabindex="-1" id="modifica-nome-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifica la board {{ board.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <form method="post" action="" name="edit_board">
                    {% csrf_token %}


                    <div class="modal-body">
                        {{ board_form|crispy }}
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>

                        {% if user_admin.role != "a" %}
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"
                                  data-bs-trigger="hover focus" data-bs-content="Devi essere un admin">
                                    <button type="submit" class="btn btn-sucess" disabled>Modifica</button>
                                </span>
                        {% else %}
                            <button type="submit" class="btn btn-primary" name="edit_board" value="edit_board">Modifica
                            </button>
                        {% endif %}

                    </div>
                </form>


            </div>
        </div>
    </div>

    <!-- Form aggiunta delle colonne-->
    <div class="modal" tabindex="-1" id="Aggiungi-colonna-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aggiungi una colonna</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="" name="create_column">
                    <div class="modal-body">

                        {% csrf_token %}
                        {{ column_form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        <button type="submit" class="btn btn-success" name="create_column" value="create_column">Crea
                            colonna
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>






    {% for column in columns %}
        <!-- form modifica colonna-->
        <div class="modal" tabindex="-1" id="modifica-colonna-{{ column.id }}-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modifica la colonna {{ column.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="" name="edit_column">
                        {% csrf_token %}
                        <div class="modal-body">

                            {{ column_form|crispy }}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                            <button type="submit" class="btn btn-primary" name="edit_column"
                                    value="{{ column.id }}">
                                Modifica Colonna
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Creazione modal tile text -->
        <div class="modal" tabindex="-1" id="crea-tile-modal-{{ column.id }}-text">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Crea una tile per {{ column.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form method="post" action="" name="add_new_txt_tile">
                        {% csrf_token %}

                        <div class="modal-body">
                            {{ tile_text_form|crispy }}

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                <button type="submit" class="btn btn-success" name="add_new_txt_tile"
                                        value="{{ column.id }}">
                                    Nuovo Tile
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Creazione modal tile mul -->
        <div class="modal" tabindex="-1" id="crea-tile-modal-{{ column.id }}-mul">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Crea una tile per {{ column.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form method="post" action="" name="add_new_mul_tile" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="modal-body">
                            {{ tile_mul_form|crispy }}

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                <button type="submit" class="btn btn-info" name="add_new_mul_tile"
                                        value="{{ column.id }}">
                                    Nuovo Tile
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}


    <!-- Crea modal per tile -->
    {% for tile, tile_text_form in tile_text_forms.items %}


        <!-- Contenuto text tile -->
        <div class="modal" tabindex="-1" id="text-type-tile-{{ tile.id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ tile.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <a>{{ tile.content }}</a>

                    </div>
                    <div class="modal-footer">
                    <a>Autor : {{tile.author}}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- form modifica text tile -->
        <div class="modal" tabindex="-1" id="modifica-{{ tile.id }}-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modifica {{ tile.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form method="post" action="" name="edit_txt_tile">
                        {% csrf_token %}

                        <div class="modal-body">
                            {{ tile_text_form|crispy }}

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi
                                </button>
                                <button type="submit" class="btn btn-success" name="edit_txt_tile"
                                        value="{{ tile.id }}">
                                    Modifica Tile
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endfor %}
    {% for tile, tile_mul_form in tile_mul_forms.items %}


        <!-- Contenuto image tile -->
        <div class="modal" tabindex="-1" id="image-type-tile-{{ tile.id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ tile.title }}</h5>

                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <img class="img-thumbnail" src="/media/{{ tile.multimedia_obj }}"
                             alt="image-{{ tile.title }}">
                    </div>
                    <div class="modal-footer">
                    <a>Autor : {{tile.author}}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- form modifica image tile -->
        <div class="modal" tabindex="-1" id="modifica-{{ tile.id }}-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modifica {{ tile.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form method="post" action="" name="edit_mul_tile" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="modal-body">
                            {{ tile_mul_form|crispy }}

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                <button type="submit" class="btn btn-info" name="edit_mul_tile"
                                        value="{{ tile.id }}">
                                    Modifica Tile
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>



    {% endfor %}


    <!-- Crea Colonne -->
    {% for column in columns %}
        <ol class="kanban To-do column-{{ column.id }}">
            <div class="kanban__title">
                <h2>{{ column.title }}</h2>

                <div class="row">
                    <div class="col-md-3">
                        <form method="post" action="" name="change_column_status_archived"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info" name="change_column_status_archived"
                                    value="{{ column.id }}">
                                <em class="fas fa-folder" style="color: white"></em>
                            </button>
                        </form>
                    </div>

                    <div class="col-md-3">
                        <button class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#modifica-colonna-{{ column.id }}-modal">
                            <em class="fas fa-pencil-alt" style="color: white"></em>
                        </button>
                    </div>

                    <div class="col-md-3">
                        <form method="post" action="" name="delete_column">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" name="delete_column" value="{{ column.id }}">
                                <em class="fas fa-trash" style="color: white"></em>
                            </button>
                        </form>
                    </div>
                </div>

            </div>
            <br>
            <div class="" id="{{ column.id }}">

                <ul id="sortable1" class="connectedSortable ul_draggable" name="{{ column.id }}">
                    {% for tile in tiles %}
                        {% if tile.column_title == column %}

                            <!-- TILE TESTO -->
                            {% if tile.content != "" %}

                                <li class="dd-item text ui-state-default li_draggable" id="{{ tile.id }}" data-id="1"
                                    data-bs-toggle="modal"
                                    data-bs-target="#text-type-tile-{{ tile.id }}"
                                        {% if tile.content_type == "o" %} style="background-color:palegreen;" {% else %}
                                    style="background-color:powderblue;" {% endif %}>


                                    <h3 class="title dd-handle">{{ tile.title }}</h3>


                                    <div class="row">
                                        <div class="col-md-3">
                                            <button class="btn btn-secondary" data-bs-toggle="modal"
                                                    data-bs-target="#modifica-{{ tile.id }}-modal">
                                                <em class="fas fa-pencil-alt" style="color: white"></em>
                                            </button>
                                        </div>

                                        <div class="col-md-3">
                                            <form method="post" action="" name="delete_tile">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger" name="delete_tile"
                                                        value="{{ tile.id }}">
                                                    <em class="fas fa-trash" style="color: white"></em>
                                                </button>
                                            </form>
                                        </div>

                                    </div>

                                <br>
                                <div class="actions" >
                                    <p style="font-size:12px;">fare click sul tile per visualizzarla nel dettaglio</p>
                                </div>
                            </li>


                                <!-- TILE IMMAGINE -->
                            {% else %}

                                <li class="dd-item image ui-state-default li_draggable" id="{{ tile.id }}" data-id="1"
                                    data-bs-toggle="modal"
                                    data-bs-target="#image-type-tile-{{ tile.id }}"
                                        {% if tile.content_type == "o" %} style="background-color:palegreen;" {% else %}
                                    style="background-color:powderblue;" {% endif %}>
                                    <h3 class="title dd-handle">{{ tile.title }}</h3>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button class="btn btn-secondary" data-bs-toggle="modal"
                                                    data-bs-target="#modifica-{{ tile.id }}-modal">
                                                <em class="fas fa-pencil-alt" style="color: white"></em>
                                            </button>
                                        </div>

                                    <div class="col-md-3">
                                        <form method="post" action="" name="delete_tile">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger" name="delete_tile"
                                                    value="{{ tile.id }}">
                                                <em class="fas fa-trash" style="color: white"></em>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <br>
                                <div class="actions">
                                    <p style="font-size:12px;">fare click sul tile per visualizzarla nel dettaglio</p>
                                </div>
                            </li>

                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </ul>
            </div>


            <div class="actions">
                <p>Crea tile:</p>
                <div class="btn-group" role="group">
                    <button class="btn btn-outline-success" data-bs-toggle="modal"
                            data-bs-target="#crea-tile-modal-{{ column.id }}-text">
                        <em class="fas fa-plus-circle"></em>Testuale
                    </button>
                    <button class="btn btn-outline-success" data-bs-toggle="modal"
                            data-bs-target="#crea-tile-modal-{{ column.id }}-mul">
                        <em class="fas fa-plus-circle"></em>Multimediale
                    </button>
                </div>
            </div>
        </ol>
    {% endfor %}



{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'project/js/script.js' %}"></script>
{% endblock %}
