{% extends "base.html" %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th>name</th>
        </tr>
        </thead>
        <tbody>


        {% for user_team in user_teams %}
        <tr>
            <td>
                <a href="{% url 'project:team_details' user_team.team_name %}">{{ user_team.team_name }}</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'project:create_team' %}">Crea nuovo team</a>
{% endblock %}