{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>I tuoi team</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for team in teams %}

          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ team.name }}</h5>
                <p class="card-text">{{ team.description }}</p>
                <a href="{% url 'project:team_details' team.name %}" class="btn btn-primary">Vai al Team</a>
              </div>
            </div>
          </div>

        {% endfor %}

        <div class="col">
            <a href="" data-bs-toggle="modal" data-bs-target="#createTeamModal" style="color:#fff; text-decoration: none">
            <div class="card bg-success h-100">
              <div class="card-body d-flex align-items-center justify-content-center">
                  Crea nuovo team
              </div>
            </div>
            </a>
        </div>

    </div>



    <!-- create team Modal -->
    <div class="modal fade" id="createTeamModal" tabindex="-1" aria-labelledby="createTeamModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createTeamModalLabel">Crea Team</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <form method="post" action="">
              <div class="modal-body">

                    {% csrf_token %}
                    {{ form|crispy }}

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" name="save">Crea Team</button>
              </div>
            </form>
        </div>
      </div>
    </div>

{% endblock %}