<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team page</title>

    <link rel="stylesheet" href="Stylesheet.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!--Font Awsome-->
    <script src="https://kit.fontawesome.com/ae7b598d47.js" crossorigin="anonymous"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="nav-item nav-link" ><i class="navbar-brand far fa-clipboard"></i><span class="navbar-text"> Kaboom Board</span></a>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#Home">Home</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Teams
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Team-1</a></li>
                          <li><a class="dropdown-item" href="#">Team-2</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Crea un Team</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
        </div>
    </nav>

    <h1>{{ team.name }}</h1>
    <p>{{ team.description }}</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 flex-column">
                <li class="user-owner-list-item">
                <a class="user-list" id="user-list" ><i class="fas fa-user-tie"></i><span class="user-list-text"> owner</span></a>
                </li>
                <li class="user-list-item">
                <a class="user-list" id="user-list" ><i class="fas fa-user"></i> utente che visualizza</a>
                </li>
            </div>


            {% for board in boards %}

            <div class="col-md-8">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ board.name }}</h5>
                        <p class="card-text">{{ board.description }}</p>
                        <a href="#" class="btn btn-primary">Go to the board</a>

                        <form method="post" action="" name="delete_board">
                            {% csrf_token %}

                            <button type="submit" class="btn btn-danger" name="delete_board" value="{{ board.name }}">Elimina Board</button>
                        </form>

                    </div>
                </div>
            </div>

            {% endfor %}

        <div class="col-md-8">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Aggiungi board</h5>

                        <form method="post" action="" name="create_board">
                            {% csrf_token %}
                            <p>Nome Board</p>
                            <input type="text" name="board_name">
                            <p>Descrizione Board</p>
                            <input type="text" name="board_description">
                            <button type="submit" class="btn btn-primary" name="new_board" value="new_board">Crea</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>