{% extends "base.html" %}

    {% block content %}

    <h1>{{ team.name }}</h1>
    <p>{{ team.description }}</p>

    <div class="container-fluid">
        <div class="row">

        {% for member in members %}
            <div class="col-md-3 flex-column">
            {% if member.role == "a" %}

                <li class="user-owner-list-item">
                    <a class="user-list" id="user-list" ><i class="fas fa-user-tie"></i><span class="user-list-text"> (owner) - {{ member.user_username }}</span></a>
                </li>
            {% else %}
                <li class="user-list-item">
                    <a class="user-list" id="user-list" ><i class="fas fa-user"></i> {{ member.user_username }}</a>
                </li>

            {% endif %}
            </div>

        {% endfor %}


            {% for board in boards %}

            <div class="col-md-8">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ board.name }}</h5>
                        <p class="card-text">{{ board.description }}</p>
                        <a href="{% url 'project:board_details' team.name board.name %}" class="btn btn-primary">Go to the board</a>

                        <form method="post" action="" name="delete_board">
                            {% csrf_token %}

                            <button type="submit" class="btn btn-danger" name="delete_board" value="{{ board.name }}">Elimina Board</button>
                        </form>

                    </div>
                </div>
            </div>

            {% endfor %}

        <div class="col-md-8">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Aggiungi board</h5>

                        <form method="post" action="" name="create_board">
                            {% csrf_token %}
                            <p>Nome Board</p>
                            <input type="text" name="board_name" required>
                            <p>Descrizione Board</p>
                            <input type="text" name="board_description">
                            <button type="submit" class="btn btn-primary" name="new_board" value="new_board">Crea</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}